_dev/
_dev_live/
node_modules/
wp_admin/
wp_includes/

wp-content/index.php
wp-content/languages/
wp-content/plugins/

wp-content/themes/genesis-sample/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/

wp-content/themes/genesis-child/.sass-cache
wp-content/themes/genesis-child/x_*
wp-content/themes/genesis-child/genesis-child.7z
wp-content/themes/genesis-child/css/
wp-content/themes/genesis-child/style.css.map

