/**
  Navigation style
 */
#menu-header-menu-1 {
  a {
    color: $color-darkgrey;
    font-size: 18px;
    font-weight: 300;
    &:hover {
      color: $color-darkgrey;
      text-underline: none;
    }
  }
}


.nav-primary {
  background-color: $color-midblue;
  .genesis-nav-menu {
    li {
      a {
        color: white;
        font-size: 2.0rem;
        font-weight: normal;
        padding-top: 27px;
        padding-bottom: 27px;
        &:hover {
          color: white;
          text-underline: none !important;
        }
      }
      &:hover {
        background-color: $color-darkblue;
      }
    }
  }
}