/**
	Pagination style
*/

ul.pagination {
	li {
		text-align: center;
		a {
			display: inline-block;
			border: 1px solid $color-darkblue;
			color: $color-midblue;
			min-width: 30px;
			height: 30px;
			font-size: 18px;
			padding: 0;
		}
		&.active {

			a {
				color: white;
				background-color: $color-midblue;
				border-color: $color-darkgrey;			
			}
		}		
	}

}